
.svn/
nbproject/
build/
dist/
*.jasm
doc-files/
/target/
/date/target/
/magic/target/
/http/target/
/xml/target/
/sql/target/
/unit-parser/target/
/coordinates/target/
/printf-parser/target/